h1 {
    text-align: center;
    color: midnightblue; 
}

h5 {
    text-align: left;
    color: midnightblue;  
}

li {
    color: midnightblue;
    text-align: center
}

* {
    background-color: rgb(70, 156, 209);
    font-family: 'Courier New', Courier, monospace; 
}

.images {
    height: 500px;
    width: 600px;
    border-radius: 10%;
}

ul, li {
    text-align: left; 
    color:rgb(0, 55, 88); 
}

* {
    border: 2px solid red
}

.box-one {
    Height: auto;
    width: 500px;

}

.box-two {

    Height: auto;
    width: 500px; 
}