h1 {
    text-align: center;
    color: midnightblue; 
}

h5 {
    text-align: left;
    color: midnightblue;  
}

li {
    color: midnightblue;
    text-align: center
}

* {
    background-color: rgb(70, 156, 209);
    font-family: 'Courier New', Courier, monospace; 
}

.images {
    height: 500px;
    width: 600px;
    border-radius: 10%;
}

.container {
    display: inline-block;
    height: 500px;
    width: 500px;
    padding: 100px;
    border: 10px solid blue;
    border-radius: 10%;
    margin: 100px;
}

ul, li {
    text-align: left; 
    color:rgb(0, 55, 88); 
}



.box-one {
    Height: 50px;
    width: 50px;
    padding: 50px;
    border: 20px blue solid;
    margin: 100px; 
    background-color: salmon;


}

.box-two {

    Height: 500px;
    width: 500px; 
    border: 2px blue solid;
    background-color: salmon;
}
<<<<<<< HEAD

.flexbox div {

    display: flex;
    height: 400px;
    border: 20px solid slateblue;
    padding: 20px; 
    margin: 20px; 
    text-align: center; 
}

.item {
    height:200px;
    width: 200px; 
    border: 2px solid thistle; 
    Display: flex; 
    background-color: aqua;
    margin: 20px;
}
=======
>>>>>>> cfe1845c36b4667855fd22e51f1c2e7d59a3dfbf
