h1 {
    text-align: center;
    color: midnightblue; 
}

h5 {
    text-align: right;
    color: midnightblue;  
}

li {
    color: midnightblue;
    text-align: center
}

* {
    background-color: lightskyblue;
}